name: Push Docker Images on Changes

on: [push]

jobs:

  build-maven-postgresql:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for Maven Postgresql CI
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: maven-postgresql
        reliza_api_id: ${{ secrets.RELIZA_MAVEN_POSTGRESQL_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_MAVEN_POSTGRESQL_API_KEY }}
        path: maven-postgresql
        platform_architectures: 'linux/amd64,linux/arm64'
  build-jq:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for JQ
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: jq
        reliza_api_id: ${{ secrets.RELIZA_JQ_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_JQ_API_KEY }}
        path: jq
        platform_architectures: 'linux/amd64,linux/arm64'
  build-awscli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for AWS CLI v1
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: awscli
        reliza_api_id: ${{ secrets.RELIZA_AWSCLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_AWSCLI_API_KEY }}
        path: awscli
        platform_architectures: 'linux/amd64,linux/arm64'
  build-reliza-watcher:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for kubectl Reliza Watcher image
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: reliza-watcher
        reliza_api_id: ${{ secrets.RELIZA_KUBECTL_RELIZA_CLIENT_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_KUBECTL_RELIZA_CLIENT_API_KEY }}
        path: reliza-watcher
        platform_architectures: 'linux/amd64,linux/arm64'
  build-helmpush:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for Reliza Helm Push image
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: helmpush
        reliza_api_id: ${{ secrets.RELIZA_HELM_PUSH_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_HELM_PUSH_API_KEY }}
        path: helmpush
        platform_architectures: 'linux/amd64,linux/arm64'
  build-helm-reliza-cli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for Helm and Reliza CLI image
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: helm-reliza-cli
        reliza_api_id: ${{ secrets.RELIZA_HELM_RELIZA_CLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_HELM_RELIZA_CLI_API_KEY }}
        path: helm-reliza
        platform_architectures: 'linux/amd64,linux/arm64'
  build-psql-awscli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for PostgreSQL AWS CLI
      uses: relizaio/reliza-docker-action@3.11
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: psql-awscli
        reliza_api_id: ${{ secrets.RELIZA_POSTGRESQL_AWSCLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_POSTGRESQL_AWSCLI_API_KEY }}
        path: postgresql-awscli
        platform_architectures: 'linux/amd64'
  build-postgres-postgis:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for PostgreSQL Postgis
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: postgres-postgis
        reliza_api_id: ${{ secrets.RELIZA_POSTGRESQL_POSTGIS_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_POSTGRESQL_POSTGIS_API_KEY }}
        path: postgres-postgis
        platform_architectures: 'linux/amd64,linux/arm64'
  build-azcopy:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for azcopy
      uses: relizaio/reliza-docker-action@2.0
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: azcopy
        reliza_api_id: ${{ secrets.RELIZA_AZCOPY_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_AZCOPY_API_KEY }}
        path: azcopy
        platform_architectures: 'linux/amd64,linux/arm64'