on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

name: Build Component Container Images And Submit Metadata To Reliza Hub

jobs:
  build-postgresql:
    permissions:
      id-token: write
    name: Build And Push ReARM PostgreSQL
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit ReARM PostgreSQL Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-postgres
          reliza_api_id: ${{ secrets.RELIZA_REARM_POSTGRES_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_POSTGRES_API_KEY }}
          path: postgresql-17/debian-13
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_POSTGRES_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_POSTGRES_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'
  build-sealed-secrets-controller:
    permissions:
      id-token: write
    name: Build And Push Sealed Secrets Controller
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Sealed Secrets Controller Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: sealed-secrets-controller
          reliza_api_id: ${{ secrets.RELIZA_SECRETS_CONTROLLER_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_SECRETS_CONTROLLER_API_KEY }}
          path: sealed-secrets-controller/0/debian-13
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_SECRETS_CONTROLLER_API_ID }}
          rearm_api_key: ${{ secrets.REARM_SECRETS_CONTROLLER_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'
  build-reliza-verdaccio:
    permissions:
      id-token: write
    name: Build And Push Reliza Verdaccio
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Reliza Verdaccio Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: reliza-verdaccio
          reliza_api_id: ${{ secrets.RELIZA_VERDACCIO_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_VERDACCIO_API_KEY }}
          path: verdaccio
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_RELIZA_VERDACCIO_API_ID }}
          rearm_api_key: ${{ secrets.REARM_RELIZA_VERDACCIO_API_KEY }}
          source_code_sbom_type: 'npm'
          rearm_enable_public_cosign_sigstore: 'true'
  build-reliza-kubectl:
    permissions:
      id-token: write
    name: Build And Push Reliza Kubectl
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Reliza Kubectl Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: kubectl
          reliza_api_id: ${{ secrets.RELIZA_KUBECTL_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_KUBECTL_API_KEY }}
          path: kubectl
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_RELIZA_KUBECTL_API_ID }}
          rearm_api_key: ${{ secrets.REARM_RELIZA_KUBECTL_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'