on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'

name: Build Component Container Images And Submit Metadata To Reliza Hub

jobs:
  build-postgresql:
    permissions:
      id-token: write
    name: Build And Push ReARM PostgreSQL
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit ReARM PostgreSQL Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-postgres
          reliza_api_id: ${{ secrets.RELIZA_REARM_POSTGRES_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_REARM_POSTGRES_API_KEY }}
          path: postgresql-17/debian-13
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_REARM_POSTGRES_API_ID }}
          rearm_api_key: ${{ secrets.REARM_REARM_POSTGRES_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'
  build-sealed-secrets-controller:
    permissions:
      id-token: write
    name: Build And Push Sealed Secrets Controller
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Sealed Secrets Controller Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: sealed-secrets-controller
          reliza_api_id: ${{ secrets.RELIZA_SECRETS_CONTROLLER_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_SECRETS_CONTROLLER_API_KEY }}
          path: sealed-secrets-controller/0/debian-13
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_SECRETS_CONTROLLER_API_ID }}
          rearm_api_key: ${{ secrets.REARM_SECRETS_CONTROLLER_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'
  build-reliza-verdaccio:
    permissions:
      id-token: write
    name: Build And Push Reliza Verdaccio
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Reliza Verdaccio Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: reliza-verdaccio
          reliza_api_id: ${{ secrets.RELIZA_VERDACCIO_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_VERDACCIO_API_KEY }}
          path: verdaccio
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_RELIZA_VERDACCIO_API_ID }}
          rearm_api_key: ${{ secrets.REARM_RELIZA_VERDACCIO_API_KEY }}
          source_code_sbom_type: 'npm'
          rearm_enable_public_cosign_sigstore: 'true'
  build-reliza-kubectl:
    permissions:
      id-token: write
    name: Build And Push Reliza Kubectl
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Reliza Kubectl Release
        uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
        with:
          registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
          registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: kubectl
          reliza_api_id: ${{ secrets.RELIZA_KUBECTL_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_KUBECTL_API_KEY }}
          path: kubectl
          enable_sbom: 'true'
          push_to_rearm: 'true'
          rearm_api_id: ${{ secrets.REARM_RELIZA_KUBECTL_API_ID }}
          rearm_api_key: ${{ secrets.REARM_RELIZA_KUBECTL_API_KEY }}
          source_code_sbom_type: 'none'
          rearm_enable_public_cosign_sigstore: 'true'
  build-maven-postgresql:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for Maven Postgresql CI
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: maven-postgresql
        reliza_api_id: ${{ secrets.RELIZA_MAVEN_POSTGRESQL_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_MAVEN_POSTGRESQL_API_KEY }}
        path: maven-postgresql
        platform_architectures: 'linux/amd64,linux/arm64'
  build-jq:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for JQ
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: jq
        reliza_api_id: ${{ secrets.RELIZA_JQ_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_JQ_API_KEY }}
        path: jq
        platform_architectures: 'linux/amd64,linux/arm64'
  build-awscli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for AWS CLI v1
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: awscli
        reliza_api_id: ${{ secrets.RELIZA_AWSCLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_AWSCLI_API_KEY }}
        path: awscli
        platform_architectures: 'linux/amd64,linux/arm64'
  build-reliza-watcher:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for kubectl Reliza Watcher image
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: reliza-watcher
        reliza_api_id: ${{ secrets.RELIZA_KUBECTL_RELIZA_CLIENT_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_KUBECTL_RELIZA_CLIENT_API_KEY }}
        path: reliza-watcher
        platform_architectures: 'linux/amd64,linux/arm64'
  build-helmpush:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for Reliza Helm Push image
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: helmpush
        reliza_api_id: ${{ secrets.RELIZA_HELM_PUSH_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_HELM_PUSH_API_KEY }}
        path: helmpush
        platform_architectures: 'linux/amd64,linux/arm64'
  build-helm-reliza-cli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for Helm and Reliza CLI image
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: helm-reliza-cli
        reliza_api_id: ${{ secrets.RELIZA_HELM_RELIZA_CLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_HELM_RELIZA_CLI_API_KEY }}
        path: helm-reliza
        platform_architectures: 'linux/amd64,linux/arm64'
  build-psql-awscli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for PostgreSQL AWS CLI
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
        registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
        registry_host: registry.relizahub.com
        image_namespace: registry.relizahub.com/library
        image_name: psql-awscli
        reliza_api_id: ${{ secrets.RELIZA_POSTGRESQL_AWSCLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_POSTGRESQL_AWSCLI_API_KEY }}
        path: postgresql-awscli
        platform_architectures: 'linux/amd64'
  build-oras-awscli:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for ORAS AWS CLI
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.RELIZA_LIBRARY_DOCKER_LOGIN }}
        registry_password: ${{ secrets.RELIZA_LIBRARY_DOCKER_TOKEN }}
        registry_host: registry.relizahub.com
        image_namespace: registry.relizahub.com/library
        image_name: oras-awscli
        reliza_api_id: ${{ secrets.RELIZA_ORAS_AWSCLI_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_ORAS_AWSCLI_API_KEY }}
        path: oras-awscli
        platform_architectures: 'linux/amd64'
  build-postgres-postgis:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for PostgreSQL Postgis
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: postgres-postgis
        reliza_api_id: ${{ secrets.RELIZA_POSTGRESQL_POSTGIS_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_POSTGRESQL_POSTGIS_API_KEY }}
        path: postgres-postgis
        platform_architectures: 'linux/amd64,linux/arm64'
  build-azcopy:
    runs-on: ubuntu-latest
    steps:
    - name: Build and submit release for azcopy
      uses: relizaio/reliza-docker-action@a8ba201f314e111885f1ec036e8eeabcb02739be # v3.14
      with:
        registry_username: ${{ secrets.docker_login }}
        registry_password: ${{ secrets.docker_token }}
        image_namespace: relizaio
        image_name: azcopy
        reliza_api_id: ${{ secrets.RELIZA_AZCOPY_API_ID }}
        reliza_api_key: ${{ secrets.RELIZA_AZCOPY_API_KEY }}
        path: azcopy
        platform_architectures: 'linux/amd64,linux/arm64'